<!DOCTYPE html>
<html>
<head>
<title>Actual Enthusiasm Website</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:center;font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {text-align:center;font-family:Georgia, serif;font-size:22px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<td align=center>
  <h1>ACS730: Actual Enthusiasm Group</h1>
  <center><img src="https://{{ s3_bucket }}.s3.amazonaws.com/{{ s3_image }}" alt="S3 Image"></center>
  <h1>Members:</h1>
  <p>
  Cristina Castro <br>
  Tanatip Hongsuwan <br>
  Shubham Joshi <br>
  Revati Sharma 
  </p>
</td>
</body>
</html>
