<!DOCTYPE html>
<html>
<head>
  <title>Actual Enthusiasm Website</title>
</head>
<body>
  <h1>ACS730: Actual Enthusiasm Group</h1>
  <img src="https://{{ s3_bucket }}.s3.amazonaws.com/{{ s3_image }}" alt="S3 Image">
  <h1>Members:</h1>
  <p>
	Cristina Castro <br>
        Revati Sharma <br>
        Shubham Joshi <br>
        Tanatip Hongsuwan
  </p>
</body>
</html>
